{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>{% block title %}主页{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
  <link href="{% static 'projects/webarch/css/guo.css' %}" rel="stylesheet" type="text/css" />
    <!-- BEGIN PLUGIN CSS -->
    <link href="{% static 'projects/assets/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'projects/assets/plugins/jquery-metrojs/MetroJs.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static '/projects/assets/plugins/shape-hover/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/projects/assets/plugins/shape-hover/css/component.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/projects/assets/plugins/owl-carousel/owl.carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/projects/assets/plugins/owl-carousel/owl.theme.css' %}" />
    <link href="{% static '/projects/assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static '/projects/assets/plugins/jquery-slider/css/jquery.sidr.light.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static '/projects/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static '/projects/assets/plugins/Mapplic/mapplic/mapplic.css' %}" type="text/css" media="screen">
    <!-- END PLUGIN CSS -->
    <!-- BEGIN PLUGIN CSS -->
    <link href="{% static '/projects/assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static '/projects/assets/plugins/bootstrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/projects/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static '/projects/assets/plugins/animate.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/projects/assets/plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PLUGIN CSS -->
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="{% static '/projects/webarch/css/webarch.css' %}" rel="stylesheet" type="text/css" />
    <!-- END CORE CSS FRAMEWORK -->
  </head>
  <!-- END HEAD -->
  <!-- BEGIN BODY -->
  <body class="">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse ">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="navbar-inner">
        <div class="header-seperation">
          <ul class="nav pull-left notifcation-center visible-xs visible-sm">
            <li class="dropdown">
              <a href="#main-menu" data-webarch="toggle-left-side">
                <i class="material-icons">menu</i>
              </a>
            </li>
          </ul>
          <!-- BEGIN LOGO -->
          <a href="{% url 'lvguowang:index' %}">
            <h4 style="
    cursor:pointer;
    background-image:-webkit-linear-gradient(bottom,red,#f0c41b,#f0c41b);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;">&nbsp;&nbsp;&nbsp;Python商品销售数据分析系统</h4>
          </a>
          <!-- END LOGO -->
          <ul class="nav pull-right notifcation-center">
            <li class="dropdown hidden-xs hidden-sm">
              <a href="{% url 'lvguowang:index' %}" class="dropdown-toggle active" data-toggle="">
                <i class="material-icons">home</i>
              </a>
            </li>
            <li class="dropdown visible-xs visible-sm">
              <a href="#" data-webarch="toggle-right-side">
                <i class="material-icons">chat</i>
              </a>
            </li>
          </ul>
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav">
          <!-- BEGIN TOP NAVIGATION MENU -->
          <div class="pull-left">
            <ul class="nav quick-section">
              <li class="quicklinks">
                <a href="#" class="" id="layout-condensed-toggle">
                  <i class="material-icons">menu</i>
                </a>
              </li>
            </ul>
            <ul class="nav quick-section">
              <li class="quicklinks  m-r-10">
                <a href="{{ request.url }}" class="">
                  <i class="material-icons">refresh</i>
                </a>
              </li>
            </ul>
          </div>
          <div id="notification-list" style="display:none">
            <div style="width:300px">
              <div class="notification-messages info">
                <div class="user-profile">
                  <img src="{% static '/projects/assets/img/profiles/d.jpg' %}" alt="" data-src="{% static '/projects/assets/img/profiles/d.jpg' %}" data-src-retina="{% static '/projects/assets/img/profiles/d2x.jpg' %}" width="35" height="35">
                </div>
                <div class="message-wrapper">
                  <div class="heading">
                    David Nester - Commented on your wall
                  </div>
                  <div class="description">
                    Meeting postponed to tomorrow
                  </div>
                  <div class="date pull-left">
                    A min ago
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages danger">
                <div class="iconholder">
                  <i class="icon-warning-sign"></i>
                </div>
                <div class="message-wrapper">
                  <div class="heading">
                    Server load limited
                  </div>
                  <div class="description">
                    Database server has reached its daily capicity
                  </div>
                  <div class="date pull-left">
                    2 mins ago
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages success">
                <div class="user-profile">
                  <img src="{% static '/projects/assets/img/profiles/h.jpg' %}" alt="" data-src="{% static '/projects/assets/img/profiles/h.jpg' %}" data-src-retina="{% static '/projects/assets/img/profiles/h2x.jpg' %}" width="35" height="35">
                </div>
                <div class="message-wrapper">
                  <div class="heading">
                    You haveve got 150 messages
                  </div>
                  <div class="description">
                    150 newly unread messages in your inbox
                  </div>
                  <div class="date pull-left">
                    An hour ago
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- END TOP NAVIGATION MENU -->
          <!-- BEGIN CHAT TOGGLER -->
          <div class="pull-right">
            <div class="chat-toggler sm">
              <div class="profile-pic">
                <a href="{% url 'lvguowang:user_profile' %}">
                    <img src="{% static '/projects/assets/img/profiles/d.jpg' %}" alt="" data-src="{% static '/projects/assets/img/profiles/d.jpg' %}" data-src-retina="{% static '/projects/assets/img/profiles/d2x.jpg' %}" width="35" height="35" />
                  </a>
              </div>
            </div>
            <ul class="nav quick-section ">
              <li class="quicklinks">
                <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                  <i class="material-icons">tune</i>
                </a>
                <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                    <li>
                    <a href="{% url 'lvguowang:user_profile' %}">个人中心
                  	</a>
                  </li>
                    <li>
                    <a href="/xadmin/">管理员后台
                  	</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/accounts/logout/"><i class="material-icons">power_settings_new</i>&nbsp;&nbsp;退出登录</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- END CHAT TOGGLER -->
        </div>
        <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar " id="main-menu">
        <!-- BEGIN MINI-PROFILE -->
        <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
          <div class="user-info-wrapper sm">
            <div class="profile-wrapper sm">
              <a href="{% url 'lvguowang:user_profile' %}">
                 <img src="{% static '/projects/assets/img/profiles/d.jpg' %}" alt="" data-src="{% static '/projects/assets/img/profiles/d.jpg' %}" data-src-retina="{% static '/projects/assets/img/profiles/d2x.jpg' %}" width="69" height="69" />
              </a>
            </div>
            <div class="user-info sm">
              <div class="username">{{ request.user.username }}</div>
              <div class="status">{{ request.user.company }}</div>
            </div>
          </div>
          <!-- END MINI-PROFILE -->
          <!-- BEGIN SIDEBAR MENU -->
                  <p class="menu-title sm"><span class="pull-right"><a href="javascript:;"></a></span></p>
          <ul>
            <li > <a href="{% url 'lvguowang:index' %}"><i class="material-icons">home</i> <span class="title">系统主页</span> <span class="selected"></span> </a>
            </li>
              <li > <a href="{% url 'lvguowang:fenxi' %}"><i class="material-icons">airplay</i> <span class="title">商品数据分析</span> <span class="selected"></span> </a>
            </li>
          <li > <a href="{% url 'lvguowang:user_profile' %}"><i class="material-icons">airplay</i> <span class="title">个人中心</span> <span class="selected"></span> </a>
            </li>

           <li > <a href="http://127.0.0.1:8000/xadmin/"><i class="material-icons">airplay</i> <span class="title">后台管理</span> <span class="selected"></span> </a>
            </li>


              {% if request.user.is_superuser %}
              <li onclick="spider('{% url 'lvguowang:spiders' %}')" ><a> <i class="material-icons"  >airplay</i> <span class="title"  >启动爬虫</span> <span class="selected" ></span> </a>
            </li>
              {% endif %}
          </ul>
          <div class="side-bar-widgets">

          </div>
          <div class="clearfix"></div>
          <!-- END SIDEBAR MENU -->
        </div>
      </div>
      <a href="#" class="scrollup">Scroll</a>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
          <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>Widget Settings</h3>
          </div>
          <div class="modal-body"> Widget settings form goes here </div>
        </div>
        <div class="clearfix"></div>
    {% block content %} {% endblock %}
      </div>
      <!-- BEGIN CHAT -->
      <!-- END CHAT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN CORE JS FRAMEWORK-->
    <script>
        function spider(url) {
            $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                alert("启动成功")
            }
        })

	}

    </script>
    {% block start1 %}
    {% endblock %}
    <script src="{% static '/projects/assets/plugins/pace/pace.min.js' %}" type="text/javascript"></script>
    <!-- BEGIN JS DEPENDECENCIES-->
    <script src="{% static '/projects/assets/plugins/jquery/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/bootstrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-block-ui/jqueryblockui.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/bootstrap-select2/select2.min.js' %}" type="text/javascript"></script>
    <!-- END CORE JS DEPENDECENCIES-->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="{% static '/projects/webarch/js/webarch.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/js/chat.js' %}" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="{% static '/projects/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js' %}"></script>
    <script src="{% static '/projects/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js' %}"></script>
    <script src="{% static '/projects/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js' %}"></script>
    <script src="{% static '/projects/assets/plugins/jquery-sparkline/jquery-sparkline.js' %}"></script>
    <script src="{% static '/projects/assets/plugins/skycons/skycons.js' %}"></script>
    <script src="{% static '/projects/assets/plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
    <!--<script src="assets/plugins/jquery-gmap/gmaps.js" type="text/javascript"></script>-->
    <script src="{% static '/projects/assets/plugins/Mapplic/js/jquery.easing.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/Mapplic/js/jquery.mousewheel.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/Mapplic/js/hammer.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/Mapplic/mapplic/mapplic.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-flot/jquery.flot.js' %}" type="text/javascript"></script>
    <script src="{% static '/projects/assets/plugins/jquery-metrojs/MetroJs.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="{% static '/projects/assets/js/dashboard_v2.js' %}" type="text/javascript"></script>
  </body>
</html>